@inject SiteConfig Config
<!DOCTYPE html>
<html lang="en" data-theme="@Config.Theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Config.Description" />
    <base href="/" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,300..700;1,9..40,300..700&family=Poppins:wght@300;400;500;600;700;800;900&family=Inter:wght@300..700&family=Lexend:wght@300..700&family=Source+Sans+3:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:wght@300..700&family=Open+Sans:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
